.home {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .nav {
    background-color: #0d0149;
    height: 150px;
    width: 100%;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .title {
      font-family: "Nunito", sans-serif;
      align-self: "center";
      margin-left: 30px;
      color: #fff;
    }
    .email{
      font-family: "Nunito", sans-serif;
      align-self: "center";
      margin-right: 30px;
      color: #fff;
    }
    .logout{
      font-size: 20px;
      margin-right: 30px;
      color: #fff;
      cursor: pointer;
    }
  }
  .add-btn {
    height: 50px;
    width: 120px;
    background-color: #0d0149;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-end;
    margin: 20px 20px 0 0;
    font-size: 20px;
  }
  .submit-btn {
    height: 50px;
    background-color: #0d0149;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-end;
    margin: -10px 15% 0 0;
    font-size: 19px;
    padding: 0 15px;
  }
  .container {
    margin: 100px 20px;
  }
}
